<header>
<div class="header-logo">
    <a href="">Websiteku</a>
</div>

<div class="header-menus">
   <li>
        <a href="">Artikel</a>
    </li>
    <li>
        <a href="">About</a>
    </li>
</div>
</header>



<h1>Halaman Artikel</h1>